# Dependencies
node_modules/
.expo/
.expo-shared/

# Native
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# IDE
.idea/
*.swp
*.swo
*~

# Build
dist/
build/

# Kaggle dataset (large files - 1.5GB)
kaggle_sudokus/
